<section class="borrowed-loans container-fluid">
<table class="table table-bordered table-striped table-sm">
    <% if @loans_borrowed.length < 1  %>
        <br><h3> Hi <%= current_user.name %>! You didn`t borrow money from anyone. </h3>      
    <% else %>
        <br><h3> Hi <%= current_user.name %>! Here are all loans where you borrowed money: </h3>
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Lender name</th>
            <th scope="col">Borrowed name</th>
            <th scope="col">Amount</th>
            <th scope="col">Opening Day</th>
            <th scope="col">Percentage</th>
            <th scope="col">Closing Day</th>
            <th scope="col">Status</th>
            <th scope="col">Total Paid</th>
        </tr>
        </thead>
        <tbody>
        <% @loans_borrowed.each_with_index do |loan, index|  %>
        <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= loan.lender.name %></td>
            <td><%= loan.borrowed.name %></td>
            <td><%= loan.amount_cents %> USD </td>
            <td><%= loan.opening_loan_day.to_date %></td>
            <td><%= loan.percentage %>%</td> 
            <td><% if loan.closing_loan_day == nil %>
                Estimated closing day <%= loan.money_request.terms %>
              <% else %>
                  <%= loan.closing_loan_day %> 
            <% end %></td>
            <td><% if loan.status == 0 %>                
            <p class="text-primary"> Not paid yet <%= link_to "Close your Loan", new_loan_payment_path(loan.id), :class => "btn btn-primary" %> </p>
            <% else %>
                Paid
            <% end %></td>
            <td><% if loan.total_paid == nil %>
              Not paid yet
          <% else %>
            <%= loan.total_paid %> USD 
          <% end %></td>
          <% if loan.status == 0 && loan.borrowed_id == current_user.id %>
            <td class="table-danger">
             <p class="text-primary"> You have <%= TimeDifference.between(loan.money_request.terms, Date.today).in_days.to_i %> days left to pay your loan</p>
          <% end %><br></td>
      <% end %>
        </tr>
    </tbody>
    <% end %>
</table>
</section>  
<section class="lender-loans container-fluid">
<table class="table table-bordered table-striped table-sm">
    <% if @loans_lender.length < 1  %>
        <br><h3> You didn`t lend money to anyone. </h3>
    <% else %>
        <br><h3> Here are all loans where you lend money: </h3>
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Lender name</th>
                <th scope="col">Borrowed name</th>
                <th scope="col">Amount</th>
                <th scope="col">Opening Day</th>
                <th scope="col">Percentage</th>
                <th scope="col">Closing Day</th>
                <th scope="col">Status</th>
                <th scope="col">Total Paid</th>
            </tr>
        </thead>
        <tbody>
            <% @loans_lender.each_with_index do |loan, index|  %>
            <tr>
                <th scope="row"><%= index + 1 %></th>
                <td><%= loan.lender.name %></td>
                <td><%= loan.borrowed.name %></td>
                <td><%= loan.amount_cents %> USD </td>
                <td><%= loan.opening_loan_day.to_date %></td>
                <td><%= loan.percentage %>%</td> 
                <td><% if loan.closing_loan_day == nil %>
                    Estimated closing day <%= loan.money_request.terms %>
                <% else %>
                    <%= loan.closing_loan_day %> 
                <% end %></td>
                <td><% if loan.status == 0 %>
                    Not paid yet
                <% else %>
                    Paid
                <% end %></td>
                <td><% if loan.total_paid == nil %>
                Not paid yet
            <% else %>
                <%= loan.total_paid %> USD
            <% end %></td>
        <% end %>
            </tr>
        </tbody>
    <% end %>
</table>
<%= link_to 'Go back to Home page ', user_path(current_user.id), :class => "btn btn-dark" %>
</section>  