<section class="show-money-request container">
<table class="table table-bordered table-striped table-sm">
    <h2>Pending Money Requests:</h2>
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Amount, USD</th>
            <th scope="col">Estimated payment day</th>
            <th scope="col">Option</th>
        </tr>
    </thead>
    <tbody>
        <% @incomplete_money_requests.each_with_index do |request, index| %>
        <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= request.borrowed.name %></td>
            <td><%= request.amount %></td>
            <td><%= request.terms %></td>
            <td><% if current_user.id == request.borrowed_id %>
                <%= link_to "Edit Money Request", edit_money_request_path(request), :class => "btn btn-warning" %>
            <% else %>
                <%= link_to "Lend Money", new_money_request_loan_path(request.id), :class => "btn btn-info" %>
            <% end %></td>
        </tr>
        <% end %><br>
    </tbody>
</table>
<%= link_to 'Go back to my home page ', user_path(current_user.id), :class => "btn btn-dark" %>
</section>



    